---
import Layout from "src/layouts/Layout.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import { Image } from "@astrojs/image/components";
import { getImage } from "@astrojs/image";
import WideSlide from "@components/Gallery/WideSlide";

import eyeletRaw from "@img/industries/cosmetic/eyelet.jpg";
import goldRaw from "@img/industries/cosmetic/gold-top.jpg";
import colorsRaw from "@img/industries/cosmetic/colors.jpg";

const eyelet = await getImage({ src: eyeletRaw });
const gold = await getImage({ src: goldRaw });
const colors = await getImage({ src: colorsRaw });

const gallery = [
  { src: eyelet.src!, alt: "eyelets" },
  { src: gold.src!, alt: "golden caps" },
  { src: colors.src!, alt: "varied colors" },
];

const products = [
  {
    img: import("@img/industries/automotive/kick-plate.jpg"),
    name: "Kick Plates",
    body: "From Kick plates to Battery components Seidel is your vertically integrated to supplier to meet your needs. With short lead times and reliable on time delivery Seidel will always be there for you.",
  },
];
---

<Layout
  seo={{
    metaTitle: "Automotive | Seidel Group",
    metaDescription:
      "Our in-house metal forming and finishing capability are compelling reasons to partner with Seidel for your automotive needs.",
  }}
>
  <section class="px-[2.5%] my-10">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-md text-center lg:text-left">
        <h1 class="font-black font-headline text-6xl">Automotive</h1>
        <p class="mt-4 text-lg">
          Our in-house metal forming and finishing capability are compelling
          reasons to partner with Seidel. Partnerships with local ISO certified
          vendors add plating, oxide, phosphate, passivation, and other heat
          treatment processes make Seidel the logical choice to explore for your
          next project.
        </p>
      </div>
      <div>
        <Image
          width={600}
          height={300}
          fit="cover"
          src={import("@img/industries/automotive/auto-hero.jpg")}
          alt="seidel automotive industry"
        />
      </div>
    </div>
  </section>
  <div class="bg-white py-20">
    <section class="my-20 px-[2.5%]">
      <div class="max-w-8xl mx-auto">
        <div class="flex justify-center">
          {
            products.map((product) => (
              <div class="max-w-[600px]">
                <Image src={product.img} alt={product.name} />
                <p class="mt-5 font-bold font-headline text-3xl">
                  {product.name}
                </p>
                <p class="mt-2 text-lg leading-loose">{product.body}</p>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <section class="my-20 px-[2.5%]">
      <WideSlide label="Cosmetic Packaging" images={gallery} client:visible />
    </section>
  </div>
  <CallToAction />
</Layout>
