---
import Layout from "src/layouts/Layout.astro";
import CallToAction from "src/sections/general/CallToAction.astro";
import { Image } from "@astrojs/image/components";
import { getImage } from "@astrojs/image";
import WideSlide from "@components/Gallery/WideSlide";

import eyeletRaw from "@img/industries/cosmetic/eyelet.jpg";
import goldRaw from "@img/industries/cosmetic/gold-top.jpg";
import colorsRaw from "@img/industries/cosmetic/colors.jpg";

const eyelet = await getImage({ src: eyeletRaw });
const gold = await getImage({ src: goldRaw });
const colors = await getImage({ src: colorsRaw });

const gallery = [
  { src: eyelet.src!, alt: "eyelets" },
  { src: gold.src!, alt: "golden caps" },
  { src: colors.src!, alt: "varied colors" },
];

const products = [
  {
    img: import("@img/industries/cosmetic/pens.jpg"),
    name: "Writing Instruments",
    body: "Our proven deep draw expertise, spanning over 5 decades , makes Seidel a leading supplier to the marketers of the finest mechanical pen and pencil sets.",
  },

  {
    img: import("@img/industries/general/garden-hoses.jpg"),
    name: "Garden Hoses",
    body: "From brass ferrules to anodization of aluminum couplings, we partner with OEM suppliers to the most trusted names in the industry.",
  },
  {
    img: import("@img/industries/general/threaded-caps.jpg"),
    name: "Caps for Threaded Containers",
    body: "We have you covered - our stock line of bottle closures from 10mm through 89mm jar covers. Available free of tooling fees keeps new product launches on time and under budget.",
  },
  {
    img: import("@img/industries/general/friction-fit-caps.jpg"),
    name: "Friction Fit Caps",
    body: "Many standard sizes available- fully decorated to suit in plastic, metal or multipiece categories fitting all budgets.",
  },
];
---

<Layout
  seo={{
    metaTitle: "General Manufacturing | Seidel Group",
    metaDescription:
      "The Seidel Group is a vertically integrated copany with the know-how of designing, manufacturing, finishing, assembling and decorating assembled metal and plastic parts.",
  }}
>
  <section class="px-[2.5%] my-10">
    <div
      class="max-w-8xl mx-auto flex flex-col lg:flex-row items-center gap-10 lg:items-start justify-between space-y-5 lg:space-y-0"
    >
      <div class="grow shrink-0 max-w-md text-center lg:text-left">
        <h1 class="font-black font-headline text-6xl">General</h1>
        <p class="mt-4 text-lg">
          The Seidel Group is a vertically integrated company with the know-how
          of designing, manufacturing, finishing, assembling and decorating
          assembled metal and plastic parts.
        </p>
      </div>
      <div>
        <Image
          src={import("@img/industries/general/general-industry.png")}
          alt="seidel aluminum anodizing"
        />
      </div>
    </div>
  </section>
  <div class="bg-white py-20">
    <section class="my-20 px-[2.5%]">
      <div class="max-w-8xl mx-auto">
        <div class="grid md:grid-cols-2 gap-5">
          {
            products.map((product) => (
              <div class="max-w-[600px]">
                <Image
                  width={600}
                  height={400}
                  fit="cover"
                  src={product.img}
                  alt={product.name}
                />
                <p class="mt-5 font-bold font-headline text-3xl">
                  {product.name}
                </p>
                <p class="mt-2 text-lg leading-loose">{product.body}</p>
              </div>
            ))
          }
        </div>
      </div>
    </section>
    <section class="my-20 px-[2.5%]">
      <WideSlide label="Cosmetic Packaging" images={gallery} client:visible />
    </section>
  </div>
  <CallToAction />
</Layout>
